.tweet_boxd{
    width: 600px;
    height: 200px;
    border: 1px solid #eff3f4;
    box-sizing: border-box;
    align-items: left;
    cursor: pointer;
}
#profile_pic{
    padding: 10px;
    border-radius: 50%;
    width: 40px;
    border: px solid black;
}
#profile_name{
    margin-top: 15px;
    font-family: "TwitterChirp",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-weight:700;
    font-size: 15px;
    border: px solid black;
}
#profile_name > span{
    font-weight:400;
    border: px solid black;
}
.LRC{
    display: flex;
    border: px solid black;
    height: 23px;
    margin-left: 80px;
    width: 500px;
    gap: 80px;
}
.material-symbols-outlined{
    font-size: 20px;
}
#comment{
    background-color: white;
    border: white;
    color: #4a4c4c;
    height: 30px;
    border-radius: 50%;
}
#comment:hover{
    background-color: #1d9cf02f;
    color: #1d9cf0;
}
#retweet{
    background-color: white;
    border: white;
    color: #4a4c4c;
    height: 30px;
    border-radius: 50%;
}
#retweet:hover{
    background-color: #09cf4b3c;
    color: #09cf4b;
}
#like{
    background-color: white;
    border: white;
    color: #4a4c4c;
    height: 30px;
    border-radius: 50%;
}
#like:hover{
    background-color: #ff000016;
    color: #ff0000;
}
#share{
    background-color: white;
    border: white;
    color: #4a4c4c;
    height: 20px;
    padding-bottom: 22px;
    height: 30px;
    border-radius: 50%;
}
#share:hover{
    background-color: #1d9cf02f;
    color: #1d9cf0;
}
.views{
    background-color: white;
    border: white;
    color: #4a4c4c;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    padding-top: 5px;
    padding-left: 5px;
}
.views:hover{
    background-color: #1d9cf02f;
    color: #1d9cf0;
}
